<div id="commentsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="commentsModalLabel">Blu</h3>
  </div>
  <div class="modal-body">
    Blublu
  </div>
  <div class="modal-footer">
    bb?
  </div>
</div>