<div id="map" style="width: 100%; height: 92%; margin-top: -16px;"></div>

<script>
  var map = new L.Map('map');

  var southWest = new L.LatLng(40.712,-74.227),
    northEast = new L.LatLng(40.774,-74.125),
    bounds = new L.LatLngBounds(southWest, northEast);

  var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/998/256/{z}/{x}/{y}.png',
    cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, minZoom: 3, attribution: cloudmadeAttribution});

  map.addLayer(cloudmade);
  map.fitWorld();

  var markerLocation, marker;

  $.getJSON("/locations.json", function(data) {
    $.each(data, function(i,item){
      markerLocation = new L.LatLng(item.latitude, item.longitude);
      marker = new L.Marker(markerLocation);
      map.addLayer(marker);
      marker.bindPopup("<b>"+item.title+"</b><br /><a>Open</a>");
    });
  });
</script>