<%= form_tag("pins/new", :method => "get", :class => "well form-inline") do %>
  <p><strong><%= t 'pins.index.add_explanation' %></strong></p>
  <%= text_field_tag(:q, nil, :class => "input-large", :placeholder => t('pins.index.search_field')) %>
  <%= button_tag content_tag("i", "", :class => "icon-plus-sign")+" "+t('add').capitalize, :class => "btn btn-map" %>
<% end %>