<div id="comments-container">
  <div id="comments">
    <%= render(@comments) || content_tag("strong", "No comments", :class => "empty-set") %>
  </div>

  <div id="comments-new">
    <%= render "new" %>
  </div>
</div>