= simple_form_for [@pin, @pin.comments.build], :remote => true do |c|
  = c.input :value, :label => false, :placeholder => "Share your thoughts (140 max)"
  = image_tag avatar_link(current_user, 16), :class => 'img-polaroid'
  = c.button :submit, 'Comment', :class => 'btn btn-small btn-social'