// Element UI (button)
.map-nav {
  z-index: 2;
  font-size: 16px;
  text-align: center;
  padding: 4px 0px;
  height: 20px;
  background: $lighter-color;
  position: absolute;
  display: block;
  border: 1px solid darken($lighter-color, 20%);
  border-radius: 3px;
  &:hover { text-decoration: none; cursor: pointer; }
}

// Zoom controls
.map-zoom {
  width: 26px;
  height: 18px;
  left: 10px;
  color: $content-color !important;
  font-size: 14px;
  &:hover { color: lighten($content-color, 20%); }
}
#map-world { top: 68px; }
#map-countries { top: 99px; }

// Filter controls
.map-filter {
  width: 26px;
  height: 18px;
  top: 9px;
  color: $lighter-color !important;
  font-size: 14px;
  &:hover { color: darken($lighter-color, 10%); }
}
#map-city { left: 53px; background: $map-color; }
#map-town { left: 84px; background: $main-color; }
#map-pointofinterest { left: 115px; background: $extra-color; }

// List of all countries
#map-countrieslist {
  background: $lighter-color;
  z-index: 3;
  width: 180px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 99px;
  left: 12px;
  border: 1px solid darken($lighter-color, 20%);
  opacity: 0.8;
  border-radius: 3px;
  display: none;
  li { 
    padding: 5px 5px 5px 7px;
    &:hover {
      background: $extra-color;
      color: $lighter-color;
      cursor: pointer;
    }
  }
}

// Adjust leaflet zoom control
.leaflet-control-zoom a:hover {
  text-decoration: none;
}