// Element UI (button)
.control {
  z-index: 2;
  font-size: 14px;
  text-align: center;
  padding: 4px 0px;
  width: 26px;
  height: 18px;
  background: $lighter-color;
  position: absolute;
  display: block;
  border: 1px solid darken($lighter-color, 20%);
  border-radius: 3px;
  &.big {
    font-size: 16px;
    width: 30px;
    height: 22px;
  }
  &:hover { text-decoration: none; cursor: pointer; }
}

// Zoom controls
.zoom {
  left: 10px;
  color: $content-color !important;
  &:hover { color: lighten($content-color, 20%); }
}
#world-zoom { top: 68px; }
#countries-zoom { top: 99px; }

// Filter controls
.pins-filter {
  top: 9px;
  color: $lighter-color !important;
  &:hover { color: darken($lighter-color, 10%); }
}
#city-filter { left: 53px; background: $map-color; }
#town-filter { left: 84px; background: $main-color; }
#poi-filter { left: 115px; background: $extra-color; }

// Pin initiator control
#pin-initiator {
  top: 9px;
  right: 10px;
  background: $tool-color;
  color: $lighter-color !important;
}

// List of all countries
#countries-list {
  background: $lighter-color;
  z-index: 3;
  width: 180px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 99px;
  left: 12px;
  border: 1px solid darken($lighter-color, 20%);
  opacity: 0.8;
  border-radius: 3px;
  display: none;
  li { 
    padding: 5px 5px 5px 7px;
    &:hover {
      background: $extra-color;
      color: $lighter-color;
      cursor: pointer;
    }
  }
}

// Adjust leaflet zoom control
.leaflet-control-zoom a:hover {
  text-decoration: none;
}