// popup of pins
.popup {
	max-width: 980px;
  //text-align: center;
  background: lighten($main-color, 46%);
  padding: 15px;
  overflow: auto;
  h3 { font-size: 14px; line-height: 10px; color: $content-color; }
  .inside {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    &.photos {
      margin-left: 0;
      .img-polaroid { margin: 5px; width: 128px; height: 128px; }
    }
    &.comments {
      width: 300px;
      float: right;
      margin-left: 20px;
      .comment {
        clear: both;
        .avatar { float: left; height: 100%; }
        .text {
          border-left: 5px solid lighten($tool-color, 20%);
          padding-left: 5px;
          margin: 0 10px 20px 10px;
          float: left;
          max-width: 200px;
          p { font-size: 16px; font-weight: 300; margin: 0 0 8px 0; }
          small {
            display: block; 
            margin: 0;
            line-height: 14px;
            color: #999;
            &.author {
              font-size : 13px;
              &:before{ content: "\2014 \00a0"; }
            }
            &.datetime { font-size: 12px; }
          }
        }
      }
      blockquote {
        p {
          font-size: 16px;
          margin: 0;
          .tooltip.in { opacity: 1; filter: alpha(opacity=100); } // No transparency for delete tooltips
          a { text-decoration: none; } // No decoration for remove link
          i { // Remove sign is transparent and become opaque on hover
            opacity: 0.3;
            &:hover { opacity: 1; }
          }
        }
        small { font-size: 12px; }
      }
    }
  }
  //h2 { font-size: 24px; line-height: 10px; color: $content-color; }
  .btn { min-width: 31px; margin-bottom: 5px; font-size: 12px; }
  
}