<!-- Only if via herald or if user is a friend -->
<% if can? :show, @master %>
  <div id="pinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pinModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h2 id="pinModalLabel"><%= @user.first_name %>'s Nowhere</h2>
    </div>
    <div class="modal-body">
      <p class="lead">Are you lost?</p>
    </div>
    <div class="modal-footer">
      <p>You look like it!</p>
    </div>
  </div>

  <div id="photoModal"></div>
<% end %>