<% if can? :read, @user %>
  <a id="map-bigcity" class="map-nav map-filter" rel="tooltip" title="Filter Big Cities" data-placement="bottom" data-type="<%= Bigcity.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="map-smallcity" class="map-nav map-filter" rel="tooltip" title="Filter Small Cities" data-placement="bottom" data-type="<%= Smallcity.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="map-pointofinterest" class="map-nav map-filter" rel="tooltip" title="Filter Point of interest" data-placement="bottom" data-type="<%= Poi.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
<% end %>