<% if can? :read, @user %>
  <a id="map-city" class="map-nav map-filter" rel="tooltip" title="Filter Cities" data-placement="bottom" data-type="<%= City.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="map-town" class="map-nav map-filter" rel="tooltip" title="Filter Towns" data-placement="bottom" data-type="<%= Town.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
  <a id="map-pointofinterest" class="map-nav map-filter" rel="tooltip" title="Filter Point of interest" data-placement="bottom" data-type="<%= Poi.sti_name %>">
    <i class="icon-eye-open"></i>
  </a>
<% end %>