<% content_for :page_title do %>Searching User<% end %>

<div class="page-header">
  <h1>Searching User <small><%= @q %></small></h1>
</div>

<div id="users">
  <%= render "shared/users_grid", :mates => @users %>
</div>