<div class="accesstokens-servicebox">
  <table>
    <tr>
      <td class="accesstokens-imgcell"><%= image_tag("services/dropbox.png") %></td>
      <td class="accesstokens-maincell">
        <h2>Dropbox</h2>
        <ul><li>Allows you to add galleries to your pins.</li></ul>
        <p>
          <i class="icon-user"></i>
          <% if @dropbox_token.nil? %>
            No account linked
          <% else %> 
            <%= @dropbox_account %>
          <% end %>
        </p>
      </td>
      <td class="accesstokens-btncell">
        <% if @dropbox_token.nil? %>
          <%= link_to "<i class=\"icon-plus-sign\"></i>&nbsp;&nbsp;Add".html_safe, dropbox_accesstokens_path, :id => "accesstokens-add", :class => "btn btn-large btn-crud accesstokens-btnunify" %>
        <% else %> 
          <%= link_to "<i class=\"icon-remove-sign\"></i>&nbsp;&nbsp;Remove".html_safe, accesstoken_path(@dropbox_token), :method => :delete, :class => "btn btn-large btn-crud btn-remove accesstokens-btnunify" %>
        <% end %>
      </td>
    </tr>
  </table>
</div>