<div class="servicebox">
  <table>
    <tr>
      <td><%= image_tag("services/facebook.png") %></td>
      <td>
        <h2>Facebook</h2>
        <ul>
          <li>Allows you to search for friends.</li>
          <li>Allows you to add galleries to your pins.</li>
        </ul>
        <p class="lead">Coming Soon</p>
      </td>
      <td>
        <%= link_to "<i class=\"icon-plus-sign\"></i>&nbsp;&nbsp;Add".html_safe, "#", :class => "btn btn-large btn-crud disabled" %>
      </td>
    </tr>
  </table>
</div>