<div class="accesstokens-servicebox">
  <table>
    <tr>
      <td class="accesstokens-imgcell"><%= image_tag("services/twitter.png") %></td>
      <td class="accesstokens-maincell">
        <h2>Twitter</h2>
        <p>Allows you to search your Twitter's friends.</p>
        <p class="lead">Coming Soon</p>
      </td>
      <td class="accesstokens-btncell">
        <%= link_to "<i class=\"icon-plus-sign\"></i>&nbsp;&nbsp;Add".html_safe, "#", :class => "btn btn-large btn-crud accesstokens-btnunify disabled" %>
      </td>
    </tr>
  </table>
</div>