<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle dropdown-toggle-countries" data-toggle="dropdown">
      <i class="icon-list"></i> Countries
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu dropdown-menu-countries">
      <% @countries.each do |country| %>
          <li><a href="#"><%= country["name"] %></a></li>
      <% end %>
    </ul>
  </li>
</ul>