<% flash.each do |name, msg| %>
  <% if !msg.blank? %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <%= raw(msg) %>
    </div>
  <% end %>
<% end %>