<% if user_signed_in? %>
  <ul class="nav pull-right">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-briefcase"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to '<i class="icon-list"></i> Tags'.html_safe, tags_path %></li>
        <li><%= link_to '<i class="icon-list"></i> Countries'.html_safe, countries_path %></li>
        <li><%= link_to '<i class="icon-list"></i> Users'.html_safe, users_path %></li>
      </ul>
    </div>
  </ul>
<% end %>