<div class="accesstoken well">
  <strong><%= accesstoken.fancy_name %></strong>
  <p><%= image_tag "services/"+accesstoken.logo, :class => "img-circle" %></p>
  <p>
    <a href="#" class="btn btn-large" rel="tooltip" data-placement="top"data-original-title="<%= accesstoken.account %>">
      <i class="icon-user"></i>
    </a>
    <a href="#" class="btn btn-tool btn-small btn-remove">
      <i class="icon-remove-sign"></i>
    </a>
  </p>
</div>