<div class="accesstoken well">
  <strong><%= accesstoken.fancy_name %></strong>
  <p><%= image_tag "services/"+accesstoken.logo, :class => "img-circle" %></p>
  <p>
    <a href="#" class="btn btn-large account" rel="tooltip" data-placement="top" data-original-title="<%= accesstoken.account %>">
      <i class="icon-user"></i>
    </a>
    <%= link_to content_tag("i", "", class: "icon-remove-sign"), accesstoken_path(accesstoken), :class => "btn btn-tool btn-small btn-remove", :method => :delete %>
  </p>
</div>