<% content_for :page_title do %><%= current_user.first_name %>'s Services<% end %>

<div class="page-header">
  <h1>Your Services <small>Because everything is connected.</small></h1>
</div>

<p class="lead">
  You can manage all services here.
</p>

<%= render "accesstokens/index/dropbox" %>

<%= render "accesstokens/index/twitter" %>

<%= render "accesstokens/index/facebook" %>