<table id="requests" class="table table-striped table-hover">
  <%= render(@requests) || content_tag("p", "No pending request.", :class => "lead empty-set") %>
</table>

<%= paginate @requests, :remote => true, :theme => "small" %>