<%- model_class = Friendship.new.class -%>
<div class="page-header">
  <h1>Your friends <small>A list of all your Watchers &amp; Sharers</small></h1>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs user-profile-tabs">
    <li class="active"><a href="#tab-friends-1" data-toggle="tab"><i class="icon-list-alt"></i> Watchers</a></li>
    <li><a href="#tab-friends-2" data-toggle="tab"><i class="icon-list-alt"></i> Sharers</a></li>
  </ul>
  <div class="tab-content">
    <%= render "friendships/index/watcherships" %>
    <%= render "friendships/index/sharerships" %>
  </div>
</div>