<% content_for :page_title do %><%= @user.first_name %>'s Friends<% end %>

<div class="page-header">
  <h1>Your friends <small>A list of all your Sharers &amp; Sharing</small></h1>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul id="friendships-friendstabs" class="nav nav-tabs">
    <li class="active"><a href="#tab-friends-1" data-toggle="tab"><b><i class="icon-list-alt"></i> Sharers</b></a></li>
    <li><a href="#tab-friends-2" data-toggle="tab"><b><i class="icon-list-alt"></i> Sharing</b></a></li>
  </ul>
  <div class="tab-content">
    <%= render "friendships/index/sharers" %>
    <%= render "friendships/index/sharing" %>
  </div>
</div>