<div class="page-header global-bigger">
  <div class="row">
    <div class="span8">
      <h1><%= image_tag("flags/"+@pin.country_code.downcase+".png") %><%= @pin.title %></h1>
      <h2>by <%= link_to @user.first_name, user_path(@user) %></h2>
    </div>
    <div class="span4">
      <p>
        <%= link_to "<i class=\"icon-map-marker icon-white\"></i>&nbsp;&nbsp;World Map".html_safe, user_pins_path(@user, :p => @pin.id), :class => "btn btn-large btn-map" %>
      </p>
    </div>
  </div>
</div>