<%- model_class = Tag.new.class -%>
<div class="page-header">
  <h1>Tags</h1>
  <h2>Here is a list of all available tags for the logpages of your logbooks.</h2>
</div>
<table class="table table-striped">
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><b><%= tag.name %></b></td>
        <td><%= tag.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>