<% content_for :page_title do %>Tags<% end %>

<div class="page-header">
  <h1>Tags <small>A list of all available tags for the logpages of your logbooks.</small></h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><b><%= tag.name %></b></td>
        <td><%= tag.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>