<% content_for :page_title do %>Countries<% end %>

<div class="page-header">
  <h1>Countries <small>A list of all available countries.</small></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Capital</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country["name"] %></td>
        <td><%= country["continent"] %></td>
        <td><%= country["capital"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>