<!-- <strong>No galleries</strong> -->
<div class="btn-group s-margin-bottom">
  <a class="btn btn-tool dropdown-toggle" data-toggle="dropdown" href="#">
    Images de test
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#">Action</a></li>
  </ul>
</div>

<ul class="thumbnails">
  <% (1..20).each do |i| %>
    <li class="span3">
      <a href="#" class="thumbnail">
        <%= image_tag("madness.jpg", :size => "210x190") %>
      </a>
    </li>
  <% end %>
</ul>