// Style for the boxes that represent services
.servicebox {
  background: #FFF;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #BBB;
  -webkit-border-radius: 10px;
          border-radius: 10px;

  // Adjust content of servicebox to full width
  table {
    width: 100%;
    h2 { width: 100%; } // Styling service title
    td:first-child { width: 15%; }
    td:nth-child(2) { width: 40%; }
    td:nth-child(3) {
      text-align: right;
      padding-right: 50px;
      .btn { width: 85px; } // Unify buttons width
    }
  }
}