.accesstokens-servicebox {
  background: #FFF;
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #BBB;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.accesstokens-servicebox table {
  width: 100%;
}

.accesstokens-servicebox h2 {
  font-weight: 200;
}

.accesstokens-imgcell {
  width: 15%;
}

.accesstokens-maincell {
  width: 40%;
}

.accesstokens-btncell {
  text-align: right;
  padding-right: 50px;
}