/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require mapbox/mapbox
 *= require bootstrap_and_overrides
 *= require_tree .
 */

/* Simple bigger class for the whole app */
.global-bigger {
  font-size: 1.8em !important;
}

/* Style for the avatar of the main menu */
#global-menufirst img {
  float: left;
  margin-right: 9px
}

/* Style for the username of the main menu */
#global-menufirst strong {
  font-size: 14px;
}

/* Style for the View profile info of the main menu */
#global-menufirst p {
  font-size: 11px;
  height: 7px;
}

/* Style search bar */
.navbar-search {
  padding-right: 10px;
}

/* Make dropdown with scrollbar */
.dropdown-menu-countries {
  height: 400px;
  overflow: auto;
}

/* For the beta information */
.betasig {
  font-size: 0.6em;
}

/* Font awesome fix with last bootstrap-rails release */
[class^="icon-"], [class*=" icon-"] {
  background-image:none !important;
}

/* Redefine some bootstrap elements */
.well {
  background: #D7CCC2 !important;
}
.page-header {
  border-bottom: 1px solid #403730 !important;
}
blockquote {
  border-left: 5px solid #887D75 !important;
}
.nav-tabs > li > a:hover {
    background: #DBDACF !important;
}
.nav-tabs > li.active > a:hover {
    background: #FFF !important;
}
.modal {
  background: #F2F1E4 !important;
}
.modal-footer {
  background: #DBDACF !important;
}

/* Custom bootstrap elements */
.badge-map, .label-map {
  background: #4A4359 !important;
}
.badge-social, .label-social {
  background: #E69922 !important;
  color: #333 !important;
}