/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet/leaflet
 *= require bootstrap_and_overrides
 *= require_tree .
 */

.bigger {
  font-size: 1.8em !important;
}


.map-container {
  background: #1A1A1A !important;
  width: 100% !important;
  height: 100% !important;
}


.user-menu-avatar {
  float: left;
  margin-right: 9px
}


.user-menu-name {
  font-size: 14px;
}


.user-menu-viewprofile {
  font-size: 11px;
  height: 7px;
}

/* Style search bar */
.navbar-search {
  padding-right: 10px;
}

/* Make dropdown with scrollbar */
.dropdown-menu-countries {
  height: 400px;
  overflow: auto;
}

/* For the beta information */
.betasig {
  font-size: 0.6em;
}

/* Font awesome fix with last bootstrap-rails release */
[class^="icon-"], [class*=" icon-"] {
  background-image:none !important;
}

/* Redefine some bootstrap elements */
.well {
  background: #D7CCC2 !important;
}
.page-header {
  border-bottom: 1px solid #403730 !important;
}