// Main container for the map pages
#map { position: absolute; top: 53px; bottom: 0; width: 100%; }

// Information block
.map-info {
  font-weight: normal;
  line-height: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -80px;
  z-index: 1000;
  text-align: center;
  background: #FFF;
  color: #3C4E5A;
  display: block;
  border: 1px solid #BBB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

// User Information block
#map-infouser {
  width: 180px;
  bottom: 10px;
  right: 30px;
  padding: 10px;
  opacity: 0.7;
  font-size: 20px !important;
}

// Nopin Information block
#map-infonopin {
  width: 400px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -240px;
  padding: 40px;
  opacity: 0.9;
  font-size: 30px !important;
  display: none;
}

// Element UI (button)
.map-nav {
  z-index: 2;
  font-size: 16px;
  text-align: center;
  padding: 4px 0px;
  width: 56px;
  height: 20px;
  background: #FFF;
  position: absolute;
  display: block;
  color: #3C4E5A;
  border: 1px solid #BBB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.map-nav:hover { text-decoration: none; cursor: pointer; }

// Positioning left UI
.map-navleft { left: 10px; }
#map-world { top: 98px; }
#map-markers { top: 129px; }
#map-countries { top: 160px; }

// Positioning+styling right UI
.map-navright { right: 10px; width: 28px !important; text-align: center; }
#map-bigcity { top: 63px; background: #4A4459 !important; color: #FFF !important; }
#map-smallcity { top: 94px; background: #887D75 !important; color: #FFF !important; }
#map-pointofinterest { top: 125px; background: #7FA4B1 !important; color: #FFF !important; }
#map-pinslist { top: 156px; background: #403730 !important; color: #FFF !important; }

// Element that display the list of all countries
#map-countrieslist {
  background: #FFF;
  z-index: 3;
  width: 180px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 160px;
  left: 45px;
  border: 1px solid #BBB;
  opacity: 0.8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: none;
}
#map-countrieslist li { padding: 5px 5px 5px 7px; }
#map-countrieslist li:hover { background: #7196A3; color: #FFF; cursor: pointer; }

// Tooltips of pins
.map-tooltiptitle { font-size: 24px; line-height: 10px; color: #403730; }
.map-tooltipcountry { font-size: 14px; line-height: 10px; color: #403730; }
.map-tooltipsubtitle { font-size: 12px; line-height: 10px; color: #403730; font-style: italic; padding-top: 5px; }
.map-tooltipbtn { min-width: 31px; margin-bottom: 5px; font-size: 12px; }

// Remove the focus on modal link
.map-modalopen { outline: none !important; }

// Unify buttons width
.map-btnunify { min-width: 31px; }
.mapuser-btn { min-width: 72px; }