// Space comments
#comments-container {
  margin-left: 20px;
}

// Style comments of a pin
#comments {
  blockquote {
    p {
      a { text-decoration: none; } // No decoration for remove link
      i { // Remove sign is transparent and become opaque on hover
        opacity: 0.3;
        &:hover { opacity: 1; }
      }
    }
  }
}

// Style comments add box
#comments-new {
  small { font-size: 65%; }
  textarea { width: 300px; height: 50px; resize: vertical; }
  .lead { margin-bottom: 0; margin-top: 20px; }
  .btn { margin-top: -20px; }
}