// Define stats
#friendships-stats {
  font-size: 20px;
  margin-bottom: 40px;

  a { // Descriptions of sharers and sharing
    border-bottom: 1px dotted #333; 
    color: #333 !important;
    &:hover { text-decoration: none; cursor: default; }
  }
}