

// Define stats
.friendships-stats {
  font-size: 16px;
  margin-bottom: 40px;
}

// Descriptions of sharers and sharing
.friendships-sharedef {
  border-bottom: 1px dotted #333;
  color: #333 !important;
}
.friendships-sharedef:hover {
  text-decoration: none;
  cursor: default;
}