// Title for not logged in pages
.notlogged-title {
  text-align: center;
  font-weight: 100;
  font-size: 60px;
  margin-bottom: 50px;
  color: #fff;
  small { font-weight: 100; color: #fff; }
}

// Style main menu
#global-menufirst {
  img { float: left; margin-right: 9px; } // Style for the avatar of the main menu
  strong { font-size: 14px; } // Style for the username of the main menu
  p { font-size: 11px; height: 7px; } // Style for the View profile info of the main menu
}

// For the beta information
#betasig { font-size: 0.6em; }

// No margin effects
.no-margin { margin: 0 !important; }
.no-bottom-margin { margin-bottom: 0 !important; }

// Standard margin bottom
.s-margin-bottom { margin-bottom: 20px !important; }

// Remove the focus on modal link
.modal-open { outline: none !important; }

// Unify user menu items
.usermenu-item i { display: inline-block !important; }

// Highlight inbox if requests pending
.active-inbox { color: #E69922 !important; }

// Helper to hide content
.phantom { display: none; }

// Helper to put element behind bootstrap backdrop
.behind-backdrop { z-index: 1000; }