/* Style for the avatar of the main menu */
#global-menufirst img {
  float: left;
  margin-right: 9px
}

/* Style for the username of the main menu */
#global-menufirst strong {
  font-size: 14px;
}

/* Style for the View profile info of the main menu */
#global-menufirst p {
  font-size: 11px;
  height: 7px;
}

/* For the beta information */
#betasig {
  font-size: 0.6em;
}

/* No margin effect*/
.no-margin {
  margin: 0 !important;
}