// Unify button width
.logpage-view, .logpage-form {
  a.btn { width: 50px; }
  input.btn { width: 70px; }
}
// Style edit form
.logpage-form {
  display: none;
  input[type=text] { font-size: 20px; }
  textarea { width: 750px; height: 270px; resize: none; } 
}
// Style create form
#addLogpageModal {
  form { margin: 0; }
  input[type=text] { width: 90%; font-size: 20px; }
  textarea { width: 90%; height: 270px; resize: none; } 
}

// Style the logbook on the map
#logpages {
  blockquote { 
    p { text-align: justify; font-size: 14px; }
  }
}