// Main container for the map pages
#map { position: absolute; top: 53px; bottom: 0; width: 100%; }

// Information block
.map-info {
  font-weight: normal;
  line-height: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -80px;
  z-index: 1000;
  text-align: center;
  background: #FFF;
  color: #3C4E5A;
  display: block;
  border: 1px solid #BBB;
}

// User Information block
#map-infouser {
  width: 180px;
  bottom: 10px;
  right: 30px;
  padding: 10px;
  opacity: 0.7;
  font-size: 20px !important;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

// Center Information block
#map-infocenter {
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  padding: 40px;
  opacity: 0.8;
  display: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  .lead { font-size: 30px; }
}

// Element UI (button)
.map-nav {
  z-index: 2;
  font-size: 16px;
  text-align: center;
  padding: 4px 0px;
  width: 56px;
  height: 20px;
  background: #FFF;
  position: absolute;
  display: block;
  border: 1px solid #BBB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  &:hover { text-decoration: none; cursor: pointer; }
}

// Positioning left UI
.map-navleft { 
  left: 10px; color: #3C4E5A;
  &:hover { color: #3C4E5A; }
}
#map-world { top: 98px; }
#map-markers { top: 129px; }
#map-countries { top: 160px; }

// Positioning+styling right UI
.map-navright { 
  right: 10px; width: 28px !important; text-align: center; color: #FFF;
  &:hover { color: #FFF; }
}
#map-refresh { top: 63px; background: #403730 !important; }
#map-bigcity { top: 94px; background: #4A4459 !important; }
#map-smallcity { top: 125px; background: #887D75 !important; }
#map-pointofinterest { top: 156px; background: #7FA4B1 !important; }
#map-pinslist { top: 187px; background: #403730 !important; }

// Element that display the list of all countries
#map-countrieslist {
  background: #FFF;
  z-index: 3;
  width: 180px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 160px;
  left: 45px;
  border: 1px solid #BBB;
  opacity: 0.8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: none;
  li { 
    padding: 5px 5px 5px 7px;
    &:hover { background: #7196A3; color: #FFF; cursor: pointer; }
  }
}

// Tooltips of pins
.map-tooltiptitle { font-size: 24px; line-height: 10px; color: #403730; }
.map-tooltipcountry { font-size: 14px; line-height: 10px; color: #403730; }
.map-tooltipsubtitle { font-size: 12px; line-height: 10px; color: #403730; font-style: italic; padding-top: 5px; }
.map-tooltipbtn { min-width: 31px; margin-bottom: 5px; font-size: 12px; }

// Unify buttons width
.map-btnunify { min-width: 31px; }
.mapuser-btn { min-width: 72px; }

// Adjust h1 size
#userModal h1 {
  font-size: 30px;
  small { font-size: 20px; }
}

// Styling pinModal
#pinModal .modal-footer { text-align: center; }

// Custom alert for map
.alert-map {
  position: absolute;
  width: 888px;
  z-index: 999;
  left: 50%;
  margin-left: -444px;
  box-shadow: 0 1px 5px #888;
}