// Main container for the map pages
#map { position: absolute; top: 53px; bottom: 0; width: 100%; }

// Information when easing
.map-ease {
  position: absolute;
  left: 50%;
  top: 80%;
  z-index: 1000;
  display: none;
  div {
    border: 1px solid darken($lighter-color, 20%);
    background: $lighter-color;
    position: relative;
    left: -50%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
    opacity: 0.7;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    .skip { cursor:pointer; }
  }
}

// Copyright block
.map-copyright {
  background: $lighter-color;
  position: absolute;
  z-index: 1000;
  display: block;
  font-size: 11px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 5px;
  margin: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

// Information block
.map-info {
  font-weight: normal;
  line-height: 20px;
  background: $lighter-color;
  position: absolute;
  margin-left: -80px;
  z-index: 1000;
  text-align: center;
  display: block;
  border: 1px solid darken($lighter-color, 20%);
}

// User Information block
#map-infouser {
  width: 180px;
  bottom: 10px;
  right: 30px;
  padding: 10px;
  opacity: 0.7;
  font-size: 20px !important;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  word-wrap: break-word; // Auto return if long name
}

// Center Information block
#map-infocenter {
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  padding: 40px;
  opacity: 0.8;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  .lead { font-size: 30px; }
}

// Element UI (button)
.map-nav {
  z-index: 2;
  font-size: 16px;
  text-align: center;
  padding: 4px 0px;
  width: 56px;
  height: 20px;
  background: $lighter-color;
  position: absolute;
  display: block;
  border: 1px solid darken($lighter-color, 20%);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  &:hover { text-decoration: none; cursor: pointer; }
}

// Positioning left UI
.map-controls { 
  left: 10px;
  color: $content-color;
  &:hover { color: lighten($content-color, 20%); }
}
#map-world { top: 98px; }
#map-markers { top: 129px; }
#map-countries { top: 160px; }

// Positioning+styling top UI
.map-pinsactions { 
  top: 63px;
  width: 28px !important;
  text-align: center;
  color: $lighter-color;
  &:hover { color: darken($lighter-color, 10%); }
}
#map-refresh { left: 83px; background: $tool-color !important; }
#map-bigcity { left: 114px; background: $map-color !important; }
#map-smallcity { left: 145px; background: $main-color !important; }
#map-pointofinterest { left: 176px; background: $extra-color !important; }
#map-pinslist { left: 207px; background: $tool-color !important; }

// Element that display the list of all countries
#map-countrieslist {
  background: $lighter-color;
  z-index: 3;
  width: 180px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 160px;
  left: 45px;
  border: 1px solid darken($lighter-color, 20%);
  opacity: 0.8;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: none;
  li { 
    padding: 5px 5px 5px 7px;
    &:hover {
      background: $extra-color;
      color: $lighter-color;
      cursor: pointer;
    }
  }
}

// Tooltips of pins
.map-tooltiptitle { font-size: 24px; line-height: 10px; color: $content-color; }
.map-tooltipcountry { font-size: 14px; line-height: 10px; color: $content-color; }
.map-tooltipbtn { min-width: 31px; margin-bottom: 5px; font-size: 12px; }
.map-tooltipzoom { margin-top: 2px; }

// Unify buttons width
.map-btnunify { min-width: 31px; }
.mapuser-btn { min-width: 72px; }

// Styling pinModal
#pinModal .modal-footer { text-align: center; }

// Custom alert for map
.alert-map {
  position: absolute;
  width: 888px;
  z-index: 999;
  left: 50%;
  margin-left: -444px;
  box-shadow: 0 1px 5px #888;
}