// Photos on captain page
#cphotos {
  .cphoto {
    &:hover { cursor: pointer; }
  }
  .selected {
    background-color: $extra-color;
    opacity: 0.5;
  }
}

// Box to remove photos
#selected-box {
  background-color: rgba(lighten($main-color, 30%), 0.5) !important;
  position: fixed;
  bottom: 10px;
  right: 20px;
  form { margin: 0; }
}

// Main photos panel in pin popup
.photos {
  max-height: 500px;
  overflow-y: auto;
  margin-left: 0;
  .photo {
    margin: 5px;
    .img-polaroid {
      width: 138px;
      height: 138px;
    }
  }
}