// PinModal is where all information about the pin is displayed
#pinModal .modal-footer { text-align: center; }

// Pins displayed in side element
#pins {
  .accessors {
    .btn { min-width: 45px; }
  }
  h2 {
    font-size: 18px;
    line-height: 17px;
    small { font-size: 12px; }
  }
  .stats {
    font-size: 20px;
    .city { color: $map-color; }
    .town { color: $main-color; }
    .poi { color: $extra-color; }
    a { border-bottom: 1px dotted; }
  }
}

// Main pin panel in map popup
.pin {
  max-width: 980px;
  background: lighten($main-color, 46%);
  padding: 15px;
  overflow: auto;
  .page-header {
    h2 { display: inline; }
    p {
      display: inline;
      margin-left: 30px;
    }
  }
  .photos {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0;
    .img-polaroid { 
      margin: 5px;
      width: 138px;
      height: 138px;
    }
  }
  .comments {
    width: 300px;
    float: right;
    margin-left: 20px;
    .inside {
      max-height: 411px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .comment {
      clear: both;
      a { color: #8d7d75; }
      .avatar {
        float: left;
        height: 100%;
      }
      .text {
        border-left: 5px solid lighten($tool-color, 20%);
        padding-left: 5px;
        margin: 0 10px 20px 10px;
        float: left;
        max-width: 210px;
        word-wrap: break-word;
        p {
          .tooltip.in { opacity: 1; filter: alpha(opacity=100); } // No transparency for delete tooltips
          a { text-decoration: none; } // No decoration for remove link
          i { // Remove sign is transparent and become opaque on hover
            opacity: 0.3;
            &:hover { opacity: 1; }
          }
          font-size: 15px;
          font-weight: 300;
          margin: 0 0 8px 0;
        }
        small {
          display: block;
          margin: 0;
          line-height: 14px;
          color: #999;
          &.author {
            font-size: 13px;
            &:before { content: "\2014 \00a0"; }
          }
          &.datetime { font-size: 12px; }
        }
      }
    }
    .new {
      padding-top: 25px;
      textarea {
        width: 260px;
        height: 40px;
        resize: none;
      }
      .btn { margin-top: -20px; }
      .img-polaroid { margin-top: -20px; }
    }
  }
}

// Container allowing user to add a pin to the map
#new-pin {
  .fields {
    .alert { margin-bottom: 0; }
    position: absolute;
    top: 20%;
    z-index: 1050;
    left: 50%;
    margin-left: -391px;
    .btn {
      width: 89px;
      height: 50px;
      margin-top: 25px;
      font-size: 18px;
    }
  }
}