// Button to add the pin
.pins-addthis { width: 60px }

// Align Geonames ccby license to right
#pins-ccby { text-align: right; }

// Style the types for pin
#pins-types { 
  text-align: center;
  strong { font-size: 16px; }
}

// Styling pinModal
#pinModal .modal-footer { text-align: center; }

// Styling pins, displayed in side element
#pins {
  .accessors {
    .btn { min-width: 45px; }
  }
  h2 {
    font-size: 18px;
    line-height: 12px;
    small { font-size: 12px; }
  }
  .stats {
    font-size: 20px;
    .city { color: $map-color; }
    .town { color: $main-color; }
    .poi { color: $extra-color; }
    a { border-bottom: 1px dotted; }
  }
}

// Container allowing user to add a pin to map
#new-pin {
  .fields {
    .alert { margin-bottom: 0; }
    position: absolute;
    top: 20%;
    z-index: 1050;
    left: 50%;
    margin-left: -391px;
    .btn {
      width: 89px;
      height: 50px;
      margin-top: 25px;
      font-size: 18px;
    }
  }
}