// Pins displayed in side element
#side-pins {
  .side-pin {
    h2 {
      font-size: 18px;
      line-height: 17px;
      margin: 0;
    }
    p { margin: 0; }
    .country {
      display: block;
      font-size: 12px;
      color: #999;
    }
    .lead {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

// Main pin panel in map popup
.pin {
  background: lighten($main-color, 46%);
  padding: 15px;
  .page-header {
    h2 { display: inline; }
    p {
      display: inline;
      margin-left: 30px;
    }
  }
  .wrap {
    display: inline-block;
    .col {
      display: inline-block;
      vertical-align: top;
    }
  }
}

// Stats in the bottom bar
#pins-stats {
  .pins { color: $content-color; }
  .city { color: $map-color; }
  .town { color: $main-color; }
  .poi { color: $extra-color; }
}

// Container allowing user to add a pin to the map
#new-pin {
  .fields {
    .alert { margin-bottom: 0; }
    position: absolute;
    top: 20%;
    z-index: 1050;
    left: 50%;
    margin-left: -391px;
    .btn {
      width: 89px;
      height: 50px;
      margin-top: 25px;
      font-size: 18px;
    }
  }
}