.profile-page p {
  font-size: 1.8em;
}

.user-profile-tabs {
  font-size: 1.6em;
}

.user-profile-table {
  font-size: 1.6em;
}

.user-show-header-ginfos {
  margin-top: 10px;
}

.user-show-header-ginfos p {
  margin: 0px;
  padding-bottom : 7px;
}