<div id="reqModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="reqModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="reqModalLabel"><i class="icon-inbox"></i> Requests</h2>
  </div>
  <div class="modal-body">
    <strong>There is nothing to see that way !</strong>
  </div>
  <div class="modal-footer">
    <p class="description no-margin">People wishing to view your profile will appear here.</p>
  </div>
</div>

<div id="heraldModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="heraldModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2><i class="icon-link"></i> Herald</h2>
  </div>
  <div class="modal-body">
    <strong>There is nothing to see that way !</strong>
  </div>
  <div class="modal-footer">
    <p class="description no-margin">The Herald allows you to share your profile with non <%= Appetizer.appname %> users.</p>
  </div>
</div>