<%= render "layouts/global_top", :layout => "application" %>

  <div class="container">
    <%= render "layouts/show_flash", :layout => "application" %>
    <%= yield %>
  </div>

<%= render "layouts/global_bottom", :layout => "application" %>